 {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <header>
        <h1>My Blog</h1><br>
        <nav>
            <ul>
                <li><a href="{% url 'blog:post_list' %}">Home</a></li>
                <li><a href="{% url 'blog:post_create' %}">Create Post</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'blog:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'blog:login' %}">Login</a></li>
                <li><a href="{% url 'blog:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ current_year }} Jeffe</p>
    </footer>

</body>

</html>