{% extends 'blog/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body>

    {% block content %}
    <div class="login-container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" class="form-control">
            </div><br>
            <div class="form-group">
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" class="form-control">
            </div><br>
            <button type="submit" class="btn btn-primary">Login</button>
        </form><br>
    </div>
    {% endblock %}



</body>

</html>