{% extends 'blog/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    {% block content %}
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username">
        </div><br>
        <div>
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" id="id_password1">
        </div><br>
        <div>
            <label for="id_password2">Confirm Password:</label>
            <input type="password" name="password2" id="id_password2">
        </div><br>
        <button type="submit">Register</button>
    </form><br> {% endblock %}

</body>

</html>